$md: 768px;
$lg: 1024px;

@media screen and (min-width: $md) {
  body {
    background-color: red;
  }

  .calorie-counter {
    max-width: 800px;
    font-size: 20px;
  }

  .calorie-counter__button {
    padding: 8px 12px;
  }
}

@media screen and (min-width: $lg) {
  body {
    background-color: green;
  }

  .calorie-counter {
    max-width: 1000px;
    font-size: 22px;
  }

  .calorie-counter__button {
    padding: 10px 15px;
  }
}
