body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    margin: 0;
}

main{
    width: 90vw;
    max-width: 1200px;
    margin: 0 auto;
    min-width: 300px;
    flex: 1;
    margin-top: 100px;
}

h1{
    text-align: center;
    text-transform: uppercase;
}

hr{
    width: 75%;
    height: 2px;
    background-color: rgba(1,1,255,0.8);
    box-shadow: 0 0 20px 0 rgba(83, 14, 14, 0.8);
    margin-bottom: 50px;
    margin-top: 50px;
}

.navbar-left{
    width: 10vw;
    min-width: 180px;
    max-width: 300px;
}

.links{

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr)); 
    gap: 20px;
    justify-items: center; 
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
}

.links img{
    width: 100%;
    max-width: 200px;
    height: 150px;
    border-radius: 15px;
}

