html, body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

h1{
    text-align: center;
}

body{
    background-color: orange;
    padding: 10px;
}

a {
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  background-color: rgba(0,0,255,1);
  padding: 5px;
  border-radius: 5px;
  width: max-content;
}

hr{
    color: black;
    border: 1px solid black;
    width: 25%;
    border-radius: 10px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "everlane1"
    "harrys"
    "casper"
    "everlane2";
  gap: 10px;
  height: auto;
  margin: 0 auto;
  overflow-x: auto;
}

.card1, .card2, .card3, .card4 {
    background-size:cover;
    background-position: center;
    display: flex;
    flex-direction: column; 
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.3s;
}

.card1 {
    grid-area: everlane1; 
    background-image: url('../img/everlane1.jpg');
    color: white;    
}

.card2 { 
    grid-area: harrys; 
    background-image: url('../img/harrys.jpg');
    text-align: right;

}
.card3 { 
    grid-area: casper; 
    background-image: url('../img/casper.webp');
    color: rgb(4, 12, 12);
    justify-content: flex-end;
    text-align: center;
}
.card4 { 
    grid-area: everlane2; 
    background-image: url('../img/everlane2.webp');
    color: azure;
    text-align: center;
}

.card1 h3{
    font-size: 10px;
    text-align: center;
}

.card2 p{
    width: 60%;
    background: rgba(255,255,255,0.85); 
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-sizing: border-box;
    margin-left: 0;
    align-self: flex-end;
}

.card2 h2, .card2 a{
    align-self: flex-end;
    margin-right: 60px;
}

.card4 p{
    display: flex;
    width: 70%;
    font-size: 18px;
    align-items: center;
    height: 100%;
    margin: auto;
    margin-bottom: 100px;
}

.card4 a{
    margin-bottom: 100px;
}

.card3,.card4 {
    aspect-ratio: 3 / 4;    
    min-height: 300px;        
}

.card1:hover,
.card2:hover,
.card3:hover,
.card4:hover {
    transform: scale(1.05);
}

.card1 a,
.card3 a,
.card4 a {
    align-self: center;
}

.card1 a,
.card2 a {
  margin-top: auto;
}

a:hover{
    background-color: gray;
}

/*TABLET*/
@media (min-width: 600px) {
  .cards {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "everlane1 harrys"
      "casper    everlane2";
    height: auto;
  }
}

/*DESKTOP*/
@media (min-width: 992px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "everlane1 casper everlane2"
      "harrys    casper everlane2";
    height: 85vh;
  }
}
