* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

body {
  background-color: orange;
  padding: 10px;
  margin: 0;
}

/*Everything related to this label "a"*/
a {
  align-self: center;
}

a:not(.cards__1 a) {
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 255, 1);
  padding: 10px;
  border-radius: 5px;
  width: max-content;
  font-size: 12px;
}

a:hover:not(.cards__1 a) {
  background-color: gray;
}

hr {
  color: rgb(126, 149, 164);
  border: 1px solid;
  width: 25%;
  border-radius: 10px;
}

/*General labels*/
.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr auto auto;
  grid-template-areas:
    "everlane1"
    "harrys"
    "casper"
    "everlane2";
  gap: 10px;
  height: auto;
  margin: 0 auto;
  overflow-x: auto;
}

.cards--all {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
  transition: transform 0.3s;
}

.cards--all:hover {
  transform: scale(1.05);
}

.cards--rectangular {
  aspect-ratio: 3 / 4;
  min-height: 300px;
}

/*CARD 1*/
.cards__1 {
  grid-area: everlane1;
  background-image: url("../img/everlane1.jpg");
  color: white;
}

.cards__1 h3 {
  font-size: 11px;
  text-align: center;
}

.cards__1 a {
  color: white;
  margin-top: auto;
}

/*CARD 2*/
.cards__2 {
  grid-area: harrys;
  background-image: url("../img/nav.png");
  background-position: 30% center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cards__2__container {
  color: white;
  margin-left: 90px;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cards__2 p {
  width: 60%;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.cards__2 a {
  margin-top: auto;
}

/*CARD 3*/
.cards__3 {
  grid-area: casper;
  background-image: url("../img/casper.webp");
  color: rgb(4, 12, 12);
  justify-content: flex-end;
  text-align: center;
  font-size: 25px;
}

.cards__3 h3 {
  width: 40%;
  justify-content: center;
  margin: 10px auto;
}

/*CARD 4*/
.cards__4 {
  grid-area: everlane2;
  background-image: url("../img/everlane2.webp");
  color: azure;
  text-align: center;
}

.cards__4 p {
  display: flex;
  width: 70%;
  font-size: 18px;
  align-items: center;
  height: 100%;
  margin: auto;
  margin-bottom: 100px;
}

.cards__4 a {
  margin-bottom: 100px;
}

/*TABLET*/
@media (min-width: 600px) {
  .cards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "everlane1 harrys"
      "casper    everlane2";
    height: auto;
  }
}

/*DESKTOP*/
@media (min-width: 992px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "everlane1 casper everlane2"
      "harrys    casper everlane2";
    height: 85vh;
  }
}
